#wrapper {
    width: 95%;
    overflow-x: scroll;
    margin-left: 5%;
}
.cursor {
    cursor: pointer;
}
.title {
    text-align: left;
    font-weight: 700;
    font-size: 27px;
    margin-top: 40px;
    margin-left: 5%;
}
table {
    margin-top: 30px;
}
.header_th {
    font-weight: 700;
    font-size: 13px;
}
.delete {
    display: none;
    width: 16px;
    height: 16px;
    background: url("../img/delete.svg");
    position: absolute;
    right: 4px;
    top: 12px;
}
th:hover > .delete {
    display: inline-block;
    vertical-align: center;
}
.delete:hover {
    background: url("../img/delete_active.svg");
}
svg {
    cursor: pointer;
}
.font-weight-min {
    font-weight: 400;
    font-size: 14px;
}
td {
    min-width: 130px;
    min-height: 38px;
    font-weight: 400;
    font-size: 14px;
}
th {
    min-height: 38px;
}
.font_weight_max {
    font-weight: 700;
    font-size: 14px;
}
.text_left {
    max-width: 250px;
    min-height: 38px;
    text-align: left;
}
.float_right {
    float: right;
}
.plus {
    width: 24px;
    height: 24px;
    background: url("../img/plus.svg");
    position: absolute;
    right: 4px;
    top: 8px;
}
.float_right.plus:hover {
    background: url("../img/plus_active.svg");
}
.folder {
    width: 24px;
    height: 24px;
    background: url("../img/folder.svg");
    position: absolute;
    right: 30px;
    top: 8px;
}
.float_right.folder:hover {
    background: url("../img/folder_active.svg");
}
.arrow {
    width: 8px;
    height: 8px;
    background: url("../img/arrow.svg");
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 15px;
    transform: rotate(0deg);
}
.budget {
    display: inline-block;
}
.arrow_sorting {
    width: 16px;
    height: 16px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}
.arrow_sorting_number {
    background: url("../img/sorting.svg");
}
.arrow_sorting_number:hover {
    background: url("../img/sorting_active.svg");
}
.arrow_sorting_az {
    background: url("../img/sorting_az.svg");
}
.arrow_sorting_az:hover {
    background: url("../img/sorting_az_active.svg");
}
td.active {
    background: white !important;
}

#row_template {
    display: none;
}
#folder_template {
    display: none;
}
.field {
    width: 197px;
    display: inline-block;
    height: 38px;
    padding: 9px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.field:focus {
    outline: none;
    z-index: 10;
    width: 100%;
    text-wrap: pretty;
    background-color: white;
    height: auto;
    overflow : visible!important;
}
.field:focus ~ .float_right{
    display: none;
}
th .field:focus {
    outline: none;
}
table tr .field:focus{
    outline: none;
}
table .header_tr th, table .header_tr td {
    min-width: 205px;
    height: 38px;
    padding: 9px!important;
}
table .header_tr th:first-child {
    padding-left: 32px!important;
}
table tr:has(td .field:focus, th .field:focus) {
    --bs-table-bg-state: white!important;
}
table tr.table-active{
    --bs-table-active-bg: #f7f7f7;
}
table tr td {
    padding: 0!important;
    position: relative;
}
table tr th {
    padding: 0!important;
    min-width: 250px;
    position: relative;
}
table tr:not(:first-child):hover {
    --bs-table-bg-state: #f7f7f7;
}

.arrow_right {
    transform: rotate(90deg) !important;
}